@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 220 20% 10%;
    --foreground: 210 20% 98%;

    --card: 220 20% 13%;
    --card-foreground: 210 20% 98%;
 
    --popover: 220 20% 13%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 220 20% 10%;
 
    --secondary: 220 20% 16%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 220 20% 16%;
    --muted-foreground: 215 20% 65%;
 
    --accent: 220 20% 16%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 220 20% 16%;
    --input: 220 20% 16%;
    --ring: 212.7 26.8% 83.9%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}